<form id="frmComprar" method="post">
    
    <div class="mb-1">
        <label for="idProducto">Producto</label>
        <select name="idProducto" id="idProducto" class="form-control">
            <option value="">Seleccione un Producto</option>
            <option th:each="producto : ${productos}" th:value="${producto.id}" th:text="${producto.nombreProducto}"></option>
        </select>
    </div>

    <div class="mb-1">
        <label for="txtCantidad">Cantidad</label>
        <input type="number" class="form-control" id="txtCantidad" name="txtCantidad">
    </div>

    <br>

    <div class="mb-1 text-end">
        <button class="btn btn-primary" id="btnGuardarFC" name="btnGuardarFC">
            {{ textBtnGuardar }}
        </button>
        <button class="btn btn-secondary" type="reset" id="btnCancelarFC" name="btnCancelarFC">Cancelar</button>
    </div>
</form>

<br>

<div class="input-group mb-1">
    <input type="text" class="form-control" id="txtBusqueda">
    <button id="btnBuscar" class="btn btn-outline-primary">
        <i class="bi bi-search"></i>
    </button>
</div>

<br>

<div class="center-text">
    <h3>Compras</h3>
</div>

<br>

<div class="table-responsive">
    <table class="table table-sm">
        <thead class="table-active">
            <tr>
                <th>Id</th>
                <th>Producto</th>
                <th>Monto</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody id="tbodyCompras"></tbody>
    </table>
</div>
